/*NORMALIZANDO EL CSS*/

/* 
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com 
Twitter: @rich_clark
*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin:0;
  padding:0;
  border:0;
  outline:0;
  font-size:100%;
  vertical-align:baseline;
  background:transparent;
}

body {
  line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section { 
  display:block;
}

nav ul {
  list-style:none;
}

blockquote, q {
  quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content:'';
  content:none;
}

a {
  margin:0;
  padding:0;
  font-size:100%;
  vertical-align:baseline;
  background:transparent;
}

/* change colours to suit your needs */

ins {
  background-color:#ff9;
  color:#000;
  text-decoration:none;
}

/* change colours to suit your needs */

mark {
  background-color:#ff9;
  color:#000; 
  font-style:italic;
  font-weight:bold;
}

del {
  text-decoration: line-through;
}

abbr[title], dfn[title] {
  border-bottom:1px dotted;
  cursor:help;
}

table {
  border-collapse:collapse;
  border-spacing:0;
}

/* change border colour to suit your needs */
hr {
  display:block;
  height:1px;
  border:0;   
  border-top:1px solid #cccccc;
  margin:1em 0;
  padding:0;
}

input, select {
  vertical-align:middle;
}

/*Estilos*/

.Barra-de-navegacion{
    background: red;
    width: 100%;
    height: 40px;
    position: fixed;
    top: 0px;
    z-index: 1;
    opacity: 90%;
}

.Barra-de-navegacion img{
    padding: 5px 0 5px 5px;
    display: inline;
}

.Barra-de-navegacion h1{
  position:absolute;
  top: 10px;
  right: 47%;
}

nav{
    position: absolute;
    top: 10px;
    right: 2%;
}

nav li {
    display: inline-block;
    margin: 0 0 0 15px;
}

main{
    width: 95%;
    margin: 50px 2.5% 10px 2.5%;
}

.Informacion{
  background: green;
  width: 23%;
  height: 800px;
  float: right;
  border-radius: 10px;
}

.Informacion img{
  position: relative;
  top: 10%;
  left: 27%;
  border-radius: 50%;
  z-index: 0;
}

.Informacion h1{
  position: relative;
  top: 15%;
  left: 20%;
}

.Informacion h2{
  position: relative;
  top: 55%;
  left: 50%;
}

.Informacion a{
  position: relative;
  top: 55%;
  left: 50%;
  text-decoration: none;
}

.Contenido-principal{
    background: white;
    width: 75%;
    height: 800px;
    margin: 0;
    border-radius: 10px;
}
.Contenido-principal h1{
  margin: 10px 10px 10px 10px;
}
.Contenido-principal article{
  border: 1px solid #000;
  border-radius: 5px;
  padding: 0px 0px 45px 0px;
}

.Contenido-principal img{
  float: left;
  padding: 5px;
}

.Contenido-principal ul{
  border: 1px solid #000;
  border-radius: 5px;
  list-style: none;
}

.Contenido-principal table{
  border-collapse: collapse;
  border-spacing: 0;
  margin-top: 10px;
}

.Contenido-principal thead{
  background: #555;
  color: #FFF;
  font-weight: bold;
}

.Contenido-principal td, th{
  border: 1px solid #000;
  padding: 8px 15px;
}

.Contacto label{
  display: block;
  margin: 0px 0px 10px;
}

.inputText{
  display: block;
  margin-bottom: 20px;
  padding: 10px 25px;
  width: 70%;
}
.subir{
  background: #555;
  padding: 10px 25px;
  font-weight: bold;
  transition: 500ms;
}

.subir:hover{
  background: #909090f0;
  transform: scale(1.07);
}

footer{
    background: pink;
    height: 100px;
}